/* ======================================================== */
/*

█▀▀▄ █░░ █▀▀█ █░█ ░▀░ █░░ ░▀░ ▀▀█▀▀ █░░█
█▀▀▄ █░░ █░░█ ▄▀▄ ▀█▀ █░░ ▀█▀ ░░█░░ █▄▄█
▀▀▀░ ▀▀▀ ▀▀▀▀ ▀░▀ ▀▀▀ ▀▀▀ ▀▀▀ ░░▀░░ ▄▄▄█
== CHROME EXTENSION THEMING TEMPLATE ==
=== Made by GitHub.com/JacobWennebro ===

<!> Always use !important to make
sure you are overriding Roblox defaults.

<!> Examples are always highlighted in red.

*/

/* ======================================================== */

:root {
    /* DARK-THEME DEFAULTS */
    --background: #232527;
    --overlay: #393b3d;
    --header: #191b1d;

    --font-family: "HCo Gotham SSm","Helvetica Neue","Helvetica","Arial","Lucida Grande","sans-serif";

    --roblox-logo: url(https://images.rbxcdn.com/1359485336f67d6e7be76b5e8ff4b72c-roblox_logo_11212016.svg);
    --roblox-r-logo: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMCIgaGVpZ2h0PSIzMCI+PHBhdGggZD0iTTguMyAzLjdMMy42IDIxLjhsMTguMSA0LjYgNC42LTE4LjEtMTgtNC42em04IDEzLjZsLTMuNS0uOS45LTMuNSAzLjUuOS0uOSAzLjV6IiBmaWxsPSIjZmZmIi8+PC9zdmc+);
}
* {
    /* <#> UNIVERSAL */
    font-family: var(--font-family);
}

/* ======================================================== */

/* <#> BODY */
body {
    background-color: var(--background) !important;
}
/* <#> ROBLOX HEADER LOGO */
.icon-logo {
    background-image: var(--roblox-logo) !important;
}
/* <#> ROBLOX HEADER (R)LOGO */
.icon-logo-r {
    background-image: var(--roblox-r-logo) !important;
}
/* <#> HEADER */
div#header {
    background-color: var(--header) !important;
}
/* <#> FOOTER */
footer {
    background-color: var(--background) !important;
}
/*  <#> PRIMARY OVERLAY (ex: https://i.imgur.com/qTxtJtw.png) */
.section-content,
.profile-avatar-mask,
.slide-item-container-right {
    background-color: var(--overlay) !important;
}
/* <#> GAME CARDS CONTAINER (ex: )*/
.content .games-lists-multiple .games-list-container {
    background-color: var(--background) !important;
}
/* <#> HOME CONTAINER (ex: https://i.imgur.com/pdtMb6B.png) */
div#HomeContainer {
    background-color: transparent !important;
}
/* <#> LEFT-SIDE NAVIGATION BAR */
div#navigation {
    background-color: var(--header) !important;
}